{% comment %} 
    Discount banners for the On-Sale collection.
    Edit the comma-separated list below to add/remove % banners. 
{% endcomment %}

{{ 'sale-discount-filter.css' | asset_url | stylesheet_tag }}

{% assign discounts_list = '25,35,50' | split: ',' %}
{% assign current_discount = request.params.discount | default: '' %}

<div class="sale-discount-filter">
  {% for d in discounts_list %}
    <a class="sale-banner{% if current_discount == d %} is-active{% endif %}" href="{{ collection.url }}?discount={{ d }}">{{ d }}% OFF</a>
  {% endfor %}

  <a class="sale-banner{% if current_discount == '' %} is-active{% endif %}" href="{{ collection.url }}">View All Discounts</a>
</div>

<script>
  (function() {
  var params = new URLSearchParams(location.search);
  var d = params.get('discount');
  if (!d) return;
  document.querySelectorAll('form').forEach(function(f){
    if (!f.querySelector('input[name="discount"]')) {
      var i = document.createElement('input');
      i.type = 'hidden';
      i.name = 'discount';
      i.value = d;
      f.appendChild(i);
    }
  });
  })();
</script>